

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 160px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1 {
  grid-area: a;
  align-self: center;
  align-content: center;
  justify-self: center;
}


p{
    align-content: center;
    text-align: center;
}


 header .logo img {
    width:50px;
    vertical-align: top;
}

img{
    width: 320px;


display:block;
margin:auto;

}

.imgmenu{
       width: 220px;


display:block;
margin:auto;

}

p.textomenu{
    
   text-align: left
         
}

.contenedormenu{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}
.item1 {
  grid-area: a;
  justify-self: center;
}
.item2 {
  grid-area: b;
  align-self: center;
  justify-self: start;
 
}
.item3 {
  grid-area: c;
  align-self: center;
  justify-self: center;
}
.item4 {
  grid-area: d;
  align-self: center;
  justify-self: start;
}




/* BOTONES */

h4{
    color: #FFFFFF;
    text-align: center;
}


.botoninicio{
    padding: 3px 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1B1BF7;
  width: 220px;
  margin: auto;
  color: #FFFFFF;
}

.botonmenu{
     padding: 3px 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1B1BF7;
  width: 220px;
  margin: auto;
  color: #FFFFFF;
}


.botoncancelar{
    padding: 3px 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6E6C6C;
  width: 220px;
  margin: auto;
  color: #FFFFFF;
}

img.imgclave{
           width: 180px;


display:block;
margin:auto;
}





.contenedorclave {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 390px;
  grid-auto-rows: 120px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1 {
  grid-area: a;
  align-self: center;
  align-content: center;
  justify-self: center;
}



.vclave{
     width: 300px; 
     height: 55px; 
     border: 1.4px solid #555;
     margin: auto;
}


.botonnum{
  padding: 2px 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1B1BF7;
  width: 90px;
  color: #FFFFFF;
}

.botoncancelarclave{
  padding: 2px 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6E6C6C;
  width: 100px;
  color: #FFFFFF;
}

h1{
    text-align: center;
}
.botoncclave{
  padding: 2px 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1B1BF7;
  width: 100px;
  color: #FFFFFF;
}


.botonct{
  padding: 2px 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6E6C6C;
  width: 100px;
  color: #FFFFFF;
 justify-self: right;

}

.botonaceptar{
     padding: 2px 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6E6C6C;
  width: 100px;
  color: #FFFFFF;
 justify-self: right;

}
}