.contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto;
 }

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 320px;
  grid-auto-rows: 400px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1 {
  grid-area: a;
  align-self: center;
  align-content: center;
  justify-self: center;
}


p{
    align-content: center;
    text-align: center;
}


 header .logo img {
    width:50px;
    vertical-align: top;
}

img{
    width: 320px;


display:block;
margin:auto;

}